[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
    transition: opacity 200ms ease-in-out 0ms,
                left 300ms ease-in-out 0ms, 
                top 0ms ease-in-out 0ms;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    background: #f5f9e9;
    font-family: 'Courier New', Courier, monospace;
}

.header p {
    position: absolute;
    top: -40%;
    padding: 20px 20px;
    font-size: 35px;
    font-weight: 600;
}

.card__tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
    background: #eee;
    box-shadow: 2px 2px 5px 2px #ccc;
    border-radius: 5px;
    display: flex;
}

.card__tab .tabs li {
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: calc(100% / 4);
    padding: 20px;
    background: #ddd;
    color: #888;
    display: flex;
    font-size: 23px;
    align-items: center;
    border-left: 5px solid #00acee;
}

.card__tab .tabs:hover {

    background: #00acee;
}

.card__tab .tab-content {
    padding: 20px;
}

@media screen and (max-width:400px)
{
    .card__tab {
        display: flex;
    }
    .card__tab .tabs li {
        font-size: 14px;
    }

    .card__tab .tab-content h2 p {
        font-size: 14px;
    }

    .card__tab { 
        width: 350px;
        height: 400px;
        margin-top: 55px;
    }
}